	  <nav class="navmenu text-center">
	  	<%=link_to 'Incio', controller:'welcome', action:'index'%>
	  	<%=link_to 'Login', controller:'login', action:'loginIn'%>
	  	<%=link_to 'Articulos', controller:'welcome', action:'articulos'%>
	  	<%=link_to 'About', controller:'welcome', action:'about'%>
	  	<%=link_to 'Contacto', controller:'welcome', action:'contacto'%>
	  </nav>