<div class="header">
	  <div class="text-center">
	  	<%= render 'menu' %>
	  </div>
</div>
<div class="container">
<div class="row">
		<h2 class="titleLogin1 padingall wow fadeInUp text-center">LISTA-<span class="titleLogin2">ARTICULOS</span></h2>
		<br>

	<% @articulos.each do |art|%> 
	<a href="/articulo/<%=art.id%>">

	<div class="col-md-4 ">
	<div class="panel panel-default wow slideInLeft" ,data-wow-delay="0.2s">
		<div class="panel-heading text-center">
		
			<h10 class="textoeslogan1"><%=art.titulo%></h10>
			<br>
			<img src="<%=art.image%>" class="upimage" alt="">
			
		</div>
		<div class="panel-body">
		<span class="textoeslogan1">Datos del Post: </span><br>
		<span class="textListitle">Autor: </span> <%=art.autor%><br>
		<span class="textListitle">Descripcion: </span><%=art.titulo%><br>
		<span class="textListitle">Publicacion: </span><%=art.fecha%>
		</div>
		
	</div>
	</div>

	</a>
<%end%>



</div>

</div>