<div class="header">
 <%= render 'menu' %>
</div>
<div class="container">
<br>
<br>
<br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
		<div class="card-panel text-center bl-panel hoverable wow bounceInUp">
		
		<%= image_tag "OC-Blog.png", :alt => "OC-Blog", :title => "OC-Blog",class:"upimage"%>
		<div class=""></div>
		<br>

			<%= form_for(:logins,:url => {:action => :access}, multipart: true) do |f| %>
				
				<div class="form-group">

					<%=f.text_field(:username,class:"form-control",placeholder:'Usuario')%>
					<%=f.password_field(:password,class:"form-control",placeholder:'Password')%>

				</div>
				<br>
				<br>
				<div class="form-group ">
				<button class="btn btn-primary btn-lg btn-block btn-sm">
					 <i class="material-icons">check_circle</i> 
				</button>
				<br>
				<div class="text-left">
					<%=link_to 'Register', controller:'login', action:'new'%>
					</div>
				</div>

			<%end%>
		</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>