<div class="header">
  <div class="text-center">
  
	   <%= render 'menu' %>
	    
  </div>
</div>
<div class="container">
<br>
<br>
<br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
		<div class="card-panel text-center bl-panel hoverable wow bounceInUp">
		<%= image_tag "OC-Blog.png", :alt => "OC-Blog", :title => "OC-Blog",class:"upimage"%>
		
		<br>

			<%= form_for(:datauser,:url => {:action => :creat}, multipart: true) do |f| %>
				
				<div class="form-group">
					<%=f.text_field(:name,class:"form-control",placeholder:'Name')%>
					<%=f.text_field(:lasname,class:"form-control",placeholder:'Lasname')%>
					<%=f.text_field(:username,class:"form-control",placeholder:'Usuario')%>
					<%=f.password_field(:password,class:"form-control",placeholder:'Password')%>
					<%=f.password_field(:repetatp,class:"form-control",placeholder:'Repeat Password')%>
				</div>
				<br>
				<br>
				<div class="form-group ">
				<button class="btn btn-primary btn-lg btn-block btn-sm">
					 <i class="material-icons">check_circle</i> 
				</button>
				<a href="/" class="btn btn-danger btn-lg btn-block btn-sm"><i class="material-icons">clear</i></a>
				</div>

			<%end%>
		</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>