<div class="header">
	  <div class="text-center">
	  	<%= render 'menu' %>
	  </div>
</div>
<div class="container">
<div class="row">
		<h2 class="titleLogin1 padingall wow fadeInUp">LISTA-<span class="titleLogin2">ARTICULOS</span></h2>
</div>

<% @articulos.each do |art|%> 
	<div class="panel panel-default">
		<div class="panel-heading ">
			<h10 class="textoeslogan1"><a href="/articulo/<%=art.id%>"><%=art.titulo%></a></h10>
		</div>
		<div class="panel-body">
		<span class="textListitle">Autor: </span> <%=art.autor%><br>
		<span class="textListitle">Descripcion: </span><%=art.descripcion%><br>
		<span class="textListitle">Publicacion: </span><%=art.fecha%>
		</div>
		
	</div>
<%end%>
</div>