<div class="header">
	  <div class="text-center">
	  <%if session[:IdUsers]%>
	  	 <%= render 'menu' %>
	  <%else%>
	    <%= render 'welcome/menu' %>
	  <%end%>
	  </div>
</div>
<script>
var click=false;
$(document).ready(function(){
	
	$('.formComent').hide();
	$('.padre').hide();
	$('.tipo').hide();

});
	function imprimir(que)
  {
	
  //	var id=document.getElementById(que).value;
		
			if(click==false)
			{
	    	$('#formComent'+que).show();
	    	//$('#padre'+que).val("1");
	   
	    	click=true
			}
			else
			{
				click=false;
				$('#formComent'+que).hide();
			}


	}
</script>
<div class="container">
<%@articulos.each do |arti| %>
<div class="row">
<div class="row">
		<div class="col-md-12">
		<br>
		<a href="/">
		<%= image_tag "OC-Blog.png", :alt => "OC-Blog", :title => "OC-Blog",class:"upimage2"%>
		</a>
		<br>
        <br>		
		</div>

		


</div>
	<div class="panel panel-default">
		<div class="panel-heading ">
			<h10 class="titleLogin1 ">Hoy hablaremos un Poco Sobre <span class="textoeslogan1"><%=arti.titulo%></span> </h10>
		</div>
		<div class="panel-body">
		<div class="col-md-4">
			
			<span class="titleLogin2">Autor: </span> <%=arti.autor%><br>
			<span class="titleLogin2">Descripciòn: </span><%=arti.titulo%> <br>
			<span class="titleLogin2">Publicaciòn: </span><%=arti.fecha%><br>
			
		</div>
		<div class="col-md-8">

		<div class="text-center"><img src="<%=arti.image%>" class="ImageUpload" alt=""></div>
		
		</div>
		</div>
		<div class="panel-body">
		<hr style="color: blue; background-color: black; width:100%;  text-align: left;">
		<h2 class="titleLogin1 padingall wow fadeInUp"><span class="titleLogin2"><%=arti.titulo%></span></h2>

		<%=arti.descripcion%>
		</div>
		<div class="form-group">
			<button id="0" type="submit" onClick="imprimir(0);" class="btn-floating btn-small waves-light blue"><i class="material-icons">speaker_notes</i></button>
		</div>
		<hr>
			<% @i=0;%>
				<!--Formulario-->
			<%=render "comentario/formcoment" %>
		<!--Comentarios-->
		<div class="row">
			<div class="col-md-12">
		     <h10 class="textoeslogan1">Cometarios</h10>
		     <hr>
				<%=render "comentario/coment" %>
				
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>

	</div>

<%end%>
</div>

</div>