		<div id="formComent<%=@i%>" class="formComent">
			<div class="row">
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-body">
							<%= form_for(:datacoment,:url => {:controller=>:comentario,:action => :creat}, multipart: true) do |f| %>
								<div class="form-group">
								<%if session[:IdUsers]%>
									
									<%=f.text_area(:descripcion,class:"materialize-textarea",placeholder:"Comentario")%>
									<%=f.text_field(:padre,id:"padre"+@i.to_s, class:"padre",value:""+@i.to_s )%>
									<%=f.text_field(:tipo,id:"tipo"+@i.to_s, class:"tipo",value:"0")%>
								<%else%>
								    <%=f.text_field(:nick,class:"form-control",placeholder:'Name')%>
								    <%=f.text_area(:descripcion,class:"materialize-textarea",placeholder:"Comentario")%>
									<%=f.text_field(:padre,id:"padre"+@i.to_s, class:"padre",value:""+@i.to_s)%>
									<%=f.text_field(:tipo,id:"tipo"+@i.to_s, class:"tipo",value:"1")%>
								<%end%>
								</div>
								<div class="form-group ">
								<button class="btn btn-primary btn-sm">
									<i class="material-icons">send</i>
								</button>
								</div>

							<%end%>
							
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						
					</div>
					<div class="col-md-4"></div>
			</div>
		</div>



